:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(210, 22%, 96%);
  --clr-neutral-300: hsl(220, 2%, 31%);
  --clr-neutral-500: hsl(0, 0%, 18%);
  --clr-neutral-700: hsl(240, 3%, 11%);
  --clr-neutral-900: hsl(240, 6%, 6%);

  --clr-red: 0 80% 63%;
  --clr-green: 160 67% 52%;
  --clr-yellow: 34 100% 50%;

  --ff-primary: "Cabinet Grotesk", sans-serif;
  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-primary);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 800;

  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --fs-title-lg: var(--fs-700);
  --fs-title: var(--fs-600);
  --fs-title-sm: var(--fs-500);
  --fs-body: var(--fs-400);
  --fs-body-sm: var(--fs-300);
  --fs-body-x-sm: var(--fs-200);
}

@media (width >= 35em) {
  :root {
    --fs-title-lg: var(--fs-700);
    --fs-title: var(--fs-600);
    --fs-title-sm: var(--fs-500);
    --fs-body: var(--fs-400);
    --fs-body-sm: var(--fs-300);
    --fs-body-x-sm: var(--fs-200);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* ----- Utility Classes ----- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  --max-width: 1120px;
  --padding: 1.5rem;

  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
}

.box-shadow {
  box-shadow: 0px 2px 8px rgba(140, 143, 150, 0.25);
}

/* text color */

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.text-neutral-300 {
  color: var(--clr-neutral-300);
}

.text-neutral-500 {
  color: var(--clr-neutral-500);
}

.text-neutral-700 {
  color: var(--clr-neutral-700);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

/* background color */

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}

.bg-neutral-500 {
  background-color: var(--clr-neutral-500);
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

/* font weight */

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-black {
  font-weight: var(--fw-black);
}

/* font sizes */

.fs-title-lg {
  font-size: var(--fs-title-lg);
  line-height: 1.1;
}

.fs-title {
  font-size: var(--fs-title);
  line-height: 1.1;
}

.fs-title-sm {
  font-size: var(--fs-title-sm);
  line-height: 1.1;
}

.fs-body {
  font-size: var(--fs-body);
}

.fs-body-sm {
  font-size: var(--fs-body-sm);
}

.fs-body-x-sm {
  font-size: var(--fs-body-x-sm);
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
}

/* ====== */

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.form-container {
  padding: 2em;
}

.login,
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 5em auto;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  margin-top: 2em;
  width: 100%;
}

.login-form label,
.signup-form label,
.image-form label {
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-bold);
  margin-bottom: 0.25em;
}

.login-form input,
.signup-form input,
.image-form input {
  width: 100%;
  padding: 0.375em 0.75em;
  border: 1.5px solid hsl(220, 2%, 31%, 0.25);
  border-radius: 100vw;
}

.login-form input::placeholder,
.signup-form input::placeholder,
.image-form input::placeholder {
  color: hsl(240, 3%, 11%, 0.5);
  font-size: 0.875rem;
}

.btn {
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 0.5em 1.5em;
  border-radius: 100vw;
  font-size: 1rem;
  font-weight: var(--fw-bold);
}

.btn--submit {
  width: 100%;
  margin-top: 0.875em;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  transition: background 150ms ease-in-out;
}

.btn--submit:is(:hover, :focus) {
  background-color: var(--clr-neutral-300);
}

@media (min-width: 640px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .image-container {
    display: block;
    min-height: 100vh;
    background-image: url("https://source.unsplash.com/random/?art,abstract,architecture,interior,3d,aesthetic,modern,minimalist");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

.header-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn--logout {
  color: var(--clr-neutral-100);
  background-color: hsl(var(--clr-red));
  transition: background 150ms ease-in-out;
}

.btn--logout:is(:hover, :focus) {
  background-color: hsl(var(--clr-red) / 0.75);
}

.btn--upload {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  transition: background 150ms ease-in-out;
}

.btn--upload:is(:hover, :focus) {
  background-color: var(--clr-neutral-300);
}

/* upload */

.separator {
  position: relative;
  display: block;
  margin: 0.5em 0;
}

.separator::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to left,
    var(--clr-neutral-300),
    var(--clr-neutral-100)
  );
  height: 1.5px;
  width: 7.5rem;
  top: 50%;
  right: 1.5rem;
}

.separator::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    var(--clr-neutral-300),
    var(--clr-neutral-100)
  );
  height: 1.5px;
  width: 7.5rem;
  top: 50%;
  left: 1.5rem;
}

.upload-files {
  --max-width: 640px;
  --margin: 1.125em;
  width: min(var(--max-width), 100% - var(--margin));
  margin-inline: auto;
  border-radius: 0.5rem;
  padding: 1.5em;
  margin: 0 1.25em !important;
}

.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed var(--clr-neutral-300);
  border-radius: 0.25rem;
  padding: 1.25em;
  margin-top: 1em;
  transition: background 300ms ease, border 300ms ease;
}

.upload-area.active {
  background-color: var(--clr-neutral-200);
  border-color: var(--clr-neutral-500);
}

.btn-choose {
  border: 0;
  cursor: pointer;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-weight: 500;
  padding: 0.5em 1.25em;
  margin: 0.5em 0 0.25em;
  border-radius: 0.25rem;
  transition: background 200ms ease;
}

.btn-choose:is(:hover, :focus-visible) {
  background-color: var(--clr-neutral-300);
}

.upload--icon img {
  width: 2rem;
  margin-bottom: 0.5em;
}

/* image grid */

.gallery {
  margin-top: 5em;
}

.image-grid {
  margin: 2em 0;
  display: grid;
  gap: 1.25rem;
}

@media (min-width: 540px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 860px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.image-preview {
  --max-width: 640px;
  --margin: 1.125em;
  width: min(var(--max-width), 100% - var(--margin));
  margin-block: 5em;
}

.image {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  color: var(--clr-neutral-100);
  font-size: 1.125rem;
}

.image-overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  padding: 1em;
  transition: bottom 250ms ease-in-out;
}

.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  background-image: linear-gradient(transparent, transparent, hsl(240, 6%, 6%));
  transition: opacity 250ms ease-in-out;
}

@media (min-width: 540px) {
  .image-overlay {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: -100%;
    right: 0;
    opacity: 0;
    padding: 1em;
    transition: bottom 250ms ease-in-out;
  }

  .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-image: linear-gradient(
      transparent,
      transparent,
      hsl(240, 6%, 6%, 0.5),
      hsl(240, 6%, 6%)
    );
    transition: opacity 250ms ease-in-out;
  }

  .image:is(:hover, :focus) .image-overlay {
    bottom: 0;
    opacity: 1;
  }

  .image:is(:hover, :focus)::before {
    opacity: 1;
  }
}

.image-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.btn--action {
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 100%;
  padding: 0.5em;
  background-color: var(--clr-neutral-100);
}

.image-title {
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error {
  color: hsl(var(--clr-red));
  font-size: var(--fs-body-x-sm);
}
